# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libaries used by Data Scientists include:

1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. SciPy
3. ggplot2

|Data Science Tools|
|-|
|Apache Cassandra|
|Kibana|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [31]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [27]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
cost=60
hours=minutes/cost
print(minutes,"minutes are converted in", hours,"hours")

200 minutes are converted in 3.3333333333333335 hours

**Objectives:**
- R
- Julia
- Python

## Author
Marco